{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "plugins": [
    "react-hooks"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "no-console": "off",
    "indent": "off",
    "jsx-quotes": [
      2,
      "prefer-single"
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-quotes": 0,
    "template-curly-spacing": "off",
  }
}